<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61125461906-7ejf6s8o16f1hq6h7mumil0kdis4g8h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61125461906-7ejf6s8o16f1hq6h7mumil0kdis4g8h4</string>
	<key>API_KEY</key>
	<string>AIzaSyCowfcw-9stv5-N9O-iX6KE8CRlEQJJL0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>61125461906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pepcorns</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-593df</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-593df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61125461906:ios:9b74c1e9d23f5cfc4de34b</string>
</dict>
</plist>